body {
color: #fff;
  background: hsl(227, 10%, 10%);

}
p {
    font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

ul li a {
    font-family: calibri;
    font-size: 1.3em;
    text-decoration: none;
    color: rgba(84, 204, 48, 0.7);
    border-bottom: solid 1px rgb(0, 0, 0);
    margin: 1%;
    width: 100px;
    background-color: rgba(23,24,28, 0.8);
    padding-top: 5%;
    text-align: center;
}
ul li a:hover {
    border-bottom: solid 0.15em rgb(67, 238, 16);
    color: rgb(67, 238, 16); 
} 



 button {
  margin: 2px;
  width: 45px;
  height: 45px;
 }
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

  .kolumny{
    border-right: dashed 0.15em rgb(67, 238, 16);
    border-left: dashed 0.15em rgb(67, 238, 16);
  }
 .duzyBtn{
  width:95px;
 }
 #wiadomosc{
  width: 600px;
  height: 100px;
 }
 #rwn{
  height: 95px;
  transform: translateY(-50%);
 }
 #wynik{
  width: 194px;
  height: 30px;
 }

/* Color boxy */
 .kolor {
  margin: 5px;
  width: 30%;
  height: 110px;
  border-radius: 12%;
  background-color: #17181b;
 }
 #reset{
  font-size: 75%;
  width: auto;
  padding: 0;
  border: none;
  background: none;
  color: white;
 }
.progress{
  background-color:  #212529;
}
@media only screen and (max-width: 991px) {
 .kolor {
  margin: 5px;
  width: 25%;
  height: 45px;
  border-radius: 12%;
  background-color: #17181b;
 }
 .duzyBtn{
  width:46%;
 }
 button {
  margin: 2px;
  width: 22%;
  height: 45px;
 }
  #rwn{
  height: 95px;
  transform: translate(0%,-51%);
 }

  }

  @media only screen and (max-width: 767px) {
 .kolor {
  margin: 5px;
  width: 25%;
  height: 45px;
  border-radius: 12%;
  background-color: #17181b;
 }
 .duzyBtn{
  width:45%;
 }
 button {
  margin: 2px;
  width: 22%;
  height: 45px;
 }
 #rwn{
  height: 95px;
  transform: translate(3%,-50%);
 }
  .duzyBtn{
  width:122px;
 }

  }
  @media only screen and (max-width: 450px) {
 .kolor {
  margin: 5px;
  width: 25%;
  height: 45px;
  border-radius: 12%;
  background-color: #17181b;
 }
  .avatar{
  background-image: url("AvatarBG.jpg"); 
  transform: translateX(25%);
 }
 .duzyBtn{
  width:46%;
 }
 button {
  margin: 2px;
  width: 22%;
  height: 45px;
 }
 #rwn{
  height: 95px;
  transform: translate(0%,-51%);
 }
  }